:root {
    --accent-color: #fce1ed;
    --main-color: #1d1d1d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

:target {
  display: block;
  position: relative;
  top: -20vh;
  visibility: hidden;
}
h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
}
/* Fluid font-size */
 @media screen and (min-width: 37.5rem) {
    h1 {
      font-size: calc(1.5rem + 0.5 * ((100vw - 37.5rem) / 82.5));
    }
}
  @media screen and (min-width: 120rem) {
    h1 {
      font-size: 2rem;
    }
}


h2 {
    letter-spacing: 0.5em;
    margin: 0 auto 0.25em auto;
}

h3, h4 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 0 auto 0.5em auto;
}

p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

h2 + p {
    margin: 0 auto 2.5em auto;
}

.uppercase {
    text-transform: uppercase;
}
.accent {
    position: relative;
    z-index: 1;
}
.accent::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.25em;
    height: 0.5rem;
    background: var(--accent-color);
    z-index: -1;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    background-color: white;
    transition: all 1s ease-out;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 2.5vw;
}
/* Fluid padding */
@media screen and (min-width: 37.5rem) {
    main {
        padding: 0 calc(0vw + 20 * ((100vw - 37.5rem) / 82.5));
    }
}
@media screen and (min-width: 120rem) {
    main {
        padding: 0 20vw;
    }
}

main > section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
/* Intro Section */
#intro {
    height: 100vh;
    padding: 12vh 0 0 0;
}

 @media screen and (min-width: 37.5rem) {
    #intro {
      padding-top: calc(12vh + -4 * ((100vw - 37.5rem) / 82.5));
    }
}
  @media screen and (min-width: 120rem) {
    #intro {
      padding-top: 8vh;
    }
}

.figure-intro {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "all";
    justify-items: center;
    align-items: start;
    margin: 0 auto;
    margin-top: 70px;
}

.circle-intro {
    grid-area: all;
    max-width: 40%;
    z-index: 1;
    opacity: 0;
    margin-top: 50px;
    animation: appear-circle 1.25s ease-out forwards;
}
@keyframes appear-circle {
    from {
      opacity: 0;
      transform: scale(0.3);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

.img-intro {
    grid-area: all;
    max-width: 43%;
    margin-top: 30px;
    z-index: 2;
    opacity: 0;
    animation: appear-img 2s 1.25s ease-out forwards;
    box-shadow: #1d1d1d;
}
@keyframes appear-img {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* HEADER */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%; /* Prevents the horizontal scroll generated by the vertical scroll when the width = 100vw. */
  padding: 2.5vh 2.5vw;
  z-index: 10;
  background-color: #fff;
}
/* Fluid padding */
@media screen and (min-width: 37.5rem) {
  header {
      padding: calc(2.5vh + 2.5 * ((100vw - 37.5rem) / 82.5)) calc(0vw + 20 * ((100vw - 37.5rem) / 82.5));
  }
}
@media screen and (min-width: 120rem) {
  header {
      padding: 5vh 20vw;
  }
}

/* logo */
.logo {
  display: block;
  flex-shrink: 1;
  max-width: 70%;
  max-height: 50px;
  margin: 0 auto;
}
/* Fluid max-width */
@media screen and (min-width: 37.5rem) {
  .logo {
    max-width: calc(70% + -40 * ((100vw - 37.5rem) / 82.5));
  }
}
@media screen and (min-width: 120rem) {
  .logo {
    max-width: 30%;
  }
}

/* NAVBAR */
.nav-btn {
  display: none;
}

.nav-icon {
  padding: 1rem 0 1rem 1rem;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

.hamburger {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 0.125rem; 
  background: #1d1d1d;
  transition: background 0.2s ease-out;
  z-index: 12;
}
.hamburger:before,
.hamburger:after {
  background: var(--main-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamburger:before {
  top: 0.5rem;
}
.hamburger:after {
  top: -0.5rem;
}

.nav-btn:checked ~ .nav-icon .hamburger {
  background: transparent;
}
.nav-btn:checked ~ .nav-icon .hamburger:before {
  transform: rotate(-45deg) translateY(-0.5rem) translateX(0.2rem);
}
.nav-btn:checked ~ .nav-icon .hamburger:after {
  transform: rotate(45deg) translateY(0.5rem) translateX(0.2rem);
}

.nav-btn:not(:checked) ~ .nav {
  display: none;
}
.nav-btn:checked ~ .nav {
  max-height: 85vh;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  list-style: none;
  text-align: center;
  padding: 15vh 0;
  background-color: var(--accent-color);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.nav-link {
  color: inherit;
  text-decoration: inherit;
  display: block;
  padding: 1.5em;
}

.nav-link:hover {
  background-color:#ffeaf3;
}

/* FEATURES */
.features{
  margin-bottom: 200px;
}
#services {
  background-color: #fce1ed; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.accentwh {
  position: relative;
  z-index: 1;
}
.accentwh::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.25em;
  height: 0.5rem;
  background: white;
  z-index: -1;
}
#our-services {
  text-align: center;
  background:#fce1ed;
  align-self: center;
  padding: 20px 60px;
  margin: 20px; 
  margin-top: 30px;
  font-size: 28px;
  font-weight: bolder;
}
.service {
  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 10px;
  width: 70vw;
  height: auto;
  transition: all ease-in-out 0.2s;
}
#planning, #tools {
  align-self: flex-end;
}
.image {
  width: 45%;
  height: auto;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.content {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
}
  .content h2 {
    font-size: 30px;
  }

@media screen and (max-width: 900px) {
  #our-services {
    font-size: 26px;
  }
  .service {
    width: 80vw;
  }
  .content {
    width: 50%;
  }
  .content h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  #planning, #tools {
    align-self: center;
  }
  #services {
    align-items: center;
    padding: 10px;
  }
  #our-services {
    font-size: 22px;
    padding: 20px;
    width: 180px;
  }
  .service {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    width: 85vw;
  }
  .content {
    width: 100%;
  }
  .image {
    width: 90%;
  }
  .content h2 {
    font-size: 22px;
  }
}



/* Product */
.products{
    right: 10%;
}
.con {
    width: 500px;
    height: 400px;
    /* margin: 20px; */
    margin-left: 0vw;
    margin-top: 10vh;
    display: inline-block;
    background: #191919;
    position: relative;
 }
 
 .overlay {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
    -moz-transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
    -o-transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
    transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
    /* custom */
    
    overflow: hidden;
 }
 
 .con_1 {
    transform: scale(0, 0);
    opacity: 0;
 }
 .text,
.button {
   text-transform: uppercase;
   color: #FFF;
   text-align: center;
   -webkit-transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
   -moz-transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
   -o-transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
   transition: all 500ms cubic-bezier(0.460, 0.695, 0.000, 0.980);
   /* custom */
   
   margin-top: 12vh;
   font-size: 5vh;
   transition-delay: .2s;
}

.text_1 {
   transform: scale(0, 0);
   opacity: 0;
}
.button {
    width: 8vw;
    font-size: 2vh;
    margin: 0 auto;
    padding: 1vh;
    border-radius: 10px;
    bordeR: 2px solid #FFF;
    transition-delay: .2s;
    transform: scale(0, 0);
    opacity: 0;
    letter-spacing: normal;
 }
 
 .button:hover {
    cursor: pointer;
    background: #FFF;
    color: #191919;
    transition-delay: 0s;
 }
 .container_1 {
    background-size: cover;
 }
 
 .container_1:hover .con_1 {
    transform: scale(1, 1);
    opacity: 1;
 } 
 .container_1:hover .text_1,
.container_1:hover .b1 {
   transform: scale(1, 1);
   opacity: 1;
}
.flex-con{
    display: flex; 
    flex-direction: row;
}
@media only screen and (max-width: 1200px) {
    .flex-con {
        display: flex;
        flex-direction: column;
    }
}
/* TESTIMONIALS */
.slider {
	width: 100%;
  margin-top: 30px;
}
.slider input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;
}
.gap{
  margin-top: 10px;
  font-weight: 900;
}
.testimonials .item {
	top: 0;
	position: absolute;
	box-sizing: border-box;
	background-color: #fce1ed;
	padding: 30px;
	width: 450px;
	text-align: center;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}
.testimonials .item img {
	width: 100px;
	border-radius: 50%;
	border: 5px solid whitesmoke;
}
.testimonials .item p {
	color: black;
}
.testimonials .item h2 {
	font-size: 14px;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: black;
	margin: 7px;
	transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
	transform: scale(2);
	background-color: #fce1ed;
}
#t-1:checked ~ .dots label[for="t-2"] {
	transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
	z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
	z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
	transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
	transform: scale(2);
	background-color: #fce1ed;
}
#t-2:checked ~ .dots label[for="t-3"] {
	transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
	z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
	transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
	transform: scale(2);
	background-color: #fce1ed;
}
#t-3:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
	z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
	transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
	transform: scale(2);
	background-color: #fce1ed;
}
#t-4:checked ~ .dots label[for="t-5"] {
	transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
	z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: #fce1ed;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
	z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
	z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
	z-index: 4;
}